// colors inspired from Challenger Deep theme
// see https://github.com/challenger-deep-theme/vim

$asphalt: #1e1c31;
$cyan: #aaffe4;
$green: #95ffa4;
$purple: #c991e1;
$red: #ff8080;

$accent: $cyan;
$background: $asphalt;
$bold: 600;
$color: $green;
$font-size: 13px;
$spacing: 1rem;
$thin: 100;